<nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar" style="background-color: #3a5850 !important">
    <div class="container-fluid">
        <h2 class="navbar-brand">
            <img src="/web/imagenes/logo.jpg" alt="Logo de los Destilados">
        </h2>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/insertarRegistro" style="color: #ffffff;">Venta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/inventario" style="color: #ffffff;">Inventario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/mostrarProductos" style="color: #ffffff;">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/corte" style="color: #ffffff;">Corte</a>
                </li>
            </ul>
            <button class="btn btn-outline-primary mr-10" type="button" style="background-color: #3a5850;">
                <a class="nav-link" aria-current="page" href="/logOut" style="color: #ffffff;">Salir</a>
            </button>
        </div>
    </div>
</nav>
