<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>
<script type="module" src="/web/js/corteMensual.js" defer></script>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1>Ventas</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                    <div class="d-flex">
                        <select class="form-control mb-3" name="mesCompra" id="mesCompra"></select>
                        <select class="form-control mb-3" name="anioCompra" id="anioCompra"></select>
                       
                    </div>

               



