.customMenu {
    background-color: #3a5850;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-link {
    color: #b0b7b2;
}

.nav-link:hover {
    color: #fff;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/web/imagenes/fondo.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    opacity: 0.72;
    z-index: -1;
}

.btn-primary{
    background-color: #709392;
    border-color: #4c6d68;
}

.btn-primary:hover{
    background-color: #2c4740;
    border-color: #0f2320;
}

.custom-toggler .navbar-toggler-icon {
    filter: brightness(0) invert(1);
}